<div class="container">
    <div class="row">
        <div class="col-md-8" style="background-color: red">
            <div class="row">
                     <div class="col-md-2 col-sm-12 col-xs-4" style="background-color: blue">
                <p>blue</p>
            </div>
           <div class="col-md-5 col-sm-12 col-xs-4" style="background-color: pink">
                <p>blue</p>
           </div>
           <div class="col-md-2 col-sm-12 col-xs-4" style="background-color: purple">
                <p>blue</p>
           </div>
           <div class="col-md-3 col-sm-12 col-xs-4" style="background-color: orange">
                <p>blue</p>
           </div>
            </div>
      

        </div>
        <div class="col-md-4"  style="background-color: yellow">
            <div class="row">
                <div class="col-md-4" style="background-color: plum">.col-md-4</div>
                <div class="col-md-4 offset-md-4" style="background-color: grey">.col-md-4 .offset-md-4</div>
            </div>
            </div>
    </div>
</div>
